<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <!-- Allow dynamic log level override with -Dlog.level -->
        <Property name="log.level">${sys:log.level:-INFO}</Property>
        <Property name="pattern">%d{HH:mm:ss.SSS} %-5level [%t] %c{1} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}" />
        </Console>
    </Appenders>

    <Loggers>
        <!-- Your package -->
        <Logger name="com.fakeRestApi" level="${log.level}" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Root logger -->
        <Root level="${log.level}">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
